.wrapper {
  width: inherit;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
  padding: 10px;
  font-size: 18px;
  font-family: Arial;
  color: #ffffff;
  background-color: rgb(20, 30, 51);
  background-image: none;
  border: 1px solid transparent;
}

.wrapper > option {
  background-color: rgb(20, 30, 51);
  border-bottom-color: rgb(229, 231, 235);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: rgb(229, 231, 235);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(229, 231, 235);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(229, 231, 235);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(226, 232, 240);
  cursor: default;
  display: block;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: normal;
  min-height: 19.2px;
  tab-size: 4;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  text-wrap: nowrap;
  white-space-collapse: collapse;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-rtl-ordering: logical;
}

.wrapper > option:disabled {
  color: rgb(148, 163, 184);
}

.wrapper:focus-visible {
  border: 1px solid rgb(91, 33, 182);
  border-radius: 5px;
  outline: none;
}
