.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 5px 22px;
}

.wrapper > span {
  margin-bottom: 15px;
}

.wrapper > div {
  cursor: pointer;
  margin-bottom: 15px;
}
