.wrapper {
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
}

.wrapper a:hover {
  color: rgb(226 232 240);
}

.wrapper img:first-child {
  margin-right: 10px;
}

.actionIcons {
  visibility: hidden;
}

.wrapper:hover .actionIcons {
  visibility: visible;
}
