.wrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 7fr 2fr;
  color: rgb(148, 163, 184);
  background-color: rgb(15, 23, 42);
}

a {
  text-decoration: none;
  color: unset;
}
