.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(20, 30, 51);
}

.navLink {
  margin: 25px 25px;
}

.wrapper h3 {
  display: flex;
  justify-content: center;
}

.container > div:last-child {
  margin-left: 40px;
}

.directories {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
}
