.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(71 85 105 / 0.2);
}

.modalWrapper input[type="text"],
.modalWrapper input[type="date"],
textarea {
  all: unset;
  width: 100%;
  background: rgb(20, 30, 51);
  border: 2px solid rgb(20, 30, 51);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.modalWrapper input[type="text"]:hover,
.modalWrapper input[type="date"]:hover,
textarea:hover {
  border: 2px solid rgb(91, 33, 182);
}

.modalWrapper input[type="submit"] {
  width: 100%;
  background-color: rgb(91, 33, 182);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalWrapper input[type="submit"]:hover {
  opacity: 0.9;
}

.modalWrapper div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(15, 23, 42);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(244, 29, 58);
}

.modalWrapper ::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 25px;
}
