.created {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
  gap: 5px;
}

.taskDirectory {
  position: absolute;
  border: 1px solid rgb(51, 65, 85);
  color: rgb(226, 232, 240);
  background-color: rgb(51, 65, 85);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  top: auto;
  right: auto;
  transform: translate(100%, -115%);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  padding: 0 10px;
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  width: 100px;
  max-width: 160px;
  text-align: center;
  text-decoration-color: rgb(226, 232, 240);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.taskDirectory:hover {
  background-color: #f43f5e;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.importantTaskLabelPopup,
.deleteTaskLabelPopup,
.completedTaskLabelPopup,
.editTaskLabelPopup,
.directoryTaskLabelPopup {
  border: 1px solid black;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  padding: 3px;
  visibility: hidden;
  position: absolute;
  background-color: aliceblue;
}

.importantTaskLabelPopup {
  transform: translate(0px, 40px);
}

.deleteTaskLabelPopup {
  transform: translate(35px, 40px);
}

.completedTaskLabelPopup {
  transform: translate(55px, 45px);
}

.editTaskLabelPopup {
  transform: translate(80px, 40px);
}

.directoryTaskLabelPopup {
  transform: translate(210px, -5px);
}

.starIcon:hover ~ .importantTaskLabelPopup,
button:hover ~ .completedTaskLabelPopup,
.trashIcon:hover ~ .deleteTaskLabelPopup,
.threeDotsIcon:hover ~ .editTaskLabelPopup,
.taskDirectory:hover ~ .directoryTaskLabelPopup {
  visibility: visible;
}

.lineSeparator {
  border: 1px dashed;
  margin-top: 20px;
  margin-bottom: 25px;
}
