.created {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 15px;
  gap: 5px;
}

.actions {
  display: flex;
}

.hdgLabelPopup {
  border: 1px solid black;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  padding: 3px;
  display: none;
  position: absolute;
  transform: translateY(120%);
  background-color: aliceblue;
}

.icon:hover ~ .hdgLabelPopup {
  display: block;
}
