.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.task {
  padding: 5px 10px 25px 25px;
  background: rgb(20, 30, 51);
  border-radius: 10px;
  min-width: 250px;
  min-height: 250px;
}

.wrapper div:first-child:not(.newTask) {
  background-color: rgb(91, 33, 182);
}

.newTask {
  display: flex;
  border: dashed;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border-color: rgb(34, 50, 85);
}

.newTask:hover {
  background-color: rgb(28, 41, 70);
  border-color: rgb(74, 89, 130);
  transition: background-color 0.3s ease;
}
